################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs
/src/BlazorApp1/BlazorApp1/Properties/PublishProfiles/FolderProfile.pubxml.user
/src/BlazorApp1/BlazorApp1/Properties/PublishProfiles/FolderProfile.pubxml
/src/BlazorApp1/BlazorApp1/BlazorApp1.csproj.user
/src/BlazorAPP/BlazorAPP/obj
/src/BlazorAPP/BlazorAPP/bin/Debug/net5.0
/release
/src/BlazorAPP/BlazorAPP/bin/Release/net5.0
